.app__footer {
  background: #1a2456;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.app__footer-info {
  color: #ba9a9c;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  text-align: left;
  flex: 1;
}

.app__footer-info * {
  margin-top: 0.5rem;
}

.app__footer-info h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

.app__footer-info ul {
  list-style: none;
  color: #ba9a9c;
}

.app__footer-info ul a {
  text-decoration: none;
  color: #ba9a9c;
}

#email {
  flex: 1.5;
}

.app__footer-info_email {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.app__footer-info_email input {
  background: transparent;
  border: #ba9a9c 0.1rem solid;
  padding: 0.5rem;
  color: white;
  width: 80%;
}

.app__footer-info_email button {
  border: #ba9a9c 0.1rem solid;
  background: #ba9a9c;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  position: relative;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
}

.app__footer-info ul a:hover {
  text-decoration: underline;
  color: #cf8571;
}
